html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Poor Story', cursive;
}


.header {
    background-color: #ddd;
    position: absolute;
    width: 100%;
    align-items: center;
    display: flex;
}

.closeButton {
    z-index: 1;
    border-radius: 20px;
    border-style: solid;
    border-color: #ccc;
    font-weight: bold;
    font-size: small;
    background-color: #fff;
    white-space: nowrap;
}

.test {
    display: flex;
    justify-content: center;
}



#panelPoiDetail {
    /* z-index: 0; */
    display: block;
    /* width: 320px; */
    width: 92.2%;
    height: 215px;
    position: absolute;
    bottom: -12px;
    border-radius: 16px;
    visibility: visible;
    background-image: url('../assets/detail_container.png');
}

.detail_image {
    border-radius: 12px;
    position: absolute;
    top: 18px;
    left: 16px;
    width: 120px;
    height: 120px;
}

.right {
    position: absolute;
    left: 157px;
    top: 24px;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 76px;
    height: 24px;
    padding: 0 8px;
    background: rgba(255, 224, 230, 0.4);
    border: 1px solid #6AA560;
    border-radius: 100px;
    /* position: relative; */
}

.circle {
    /* position: absolute; */
    width: 9px;
    height: 9px;
    background: #35A755;
    border-radius: 100%;
    margin-left: 5px;
}

.category_title {
    /* position: absolute;
    left: 20px; */
    margin-top: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #35A755;
    padding-left: 10px;
}

.title_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    /* justify-content: center; */
}

.title_icon{
    width: 16px;
    height: 16px;
    padding-bottom: 1px;
}


#poiDetailTitle {
    margin: 0;
    margin-left: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}

.des_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    /* justify-content: center; */
}

.des_icon{
    width: 16px;
    height: 16px;
    padding-bottom: 2px;

}

#poiDetailDescription {
    margin: 0;
    margin-left: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}

.dis_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    /* justify-content: center; */
}

.dis_icon{
    width: 16px;
    height: 16px;
    padding-bottom: 1px;
}

#poiDetailDistance {
    margin: 0;
    margin-left: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}

#poiDetailDistance2 {
    margin: 0;
    margin-left: 4px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}

.detail_box {
    /* width: 296px; */
    width: 90%;
    height: 47px;
    position: absolute;
    left: 16px;
    top: 148px;
    text-align: center;
    /* vertical-align: middle; */
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    background: #272727;
    backdrop-filter: blur(10px);
    border-radius: 12px;
}