* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.top_bar {
    background: #0f0f0f;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;

}

.icon_box {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 0;
    top: 0;
}

.icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 4px;
    top: 10px;
}

.pre_link{
    text-decoration: none;
    cursor: pointer;
}

.arrow_icon {
    position: absolute;
    left: 11px;
    top: 13px;
    width: 18.39px;
    height: 14.14px;
}

.top_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #fff;
}

.shop_bar {
    width: 100%;
    height: 226px;
    padding: 20px;
    background: #0f0f0f;

}

.shop_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.shop_category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 266px;
    height: 144px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #CCCCCC;
}

.category_row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.category1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 40px;
    background: #272727;
    border-radius: 100px;
    margin-right: 8px;
}

.category2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 40px;
    background: #272727;
    margin-right: 8px;
    border-radius: 100px;
}

.category3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    background: #272727;
    border-radius: 100px;
}

.category_row2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.category4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    background: #272727;
    border-radius: 100px;
    margin-right: 8px;
}

.category5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 40px;
    background: #272727;
    border-radius: 100px;
}

.category6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    border-radius: 100px;
    background: #272727;

}

.line {
    width: 100%;
    height: 8px;
    background: #000000;
}

.price_bar {
    background: #0f0f0f;
    width: 100%;
    height: 146px;
    padding: 20px;
}

.price_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.price_box {
    height: 64px;
    display: flex;
    flex-direction: column;
}

.price_box_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.range_box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    position: relative;
}

.range_base {
    margin-top: 12px;
    width: 100%;
    height: 1px;
    background: #333;
}

.range {
    position: absolute;
    top: 12px;
    width: 167px;
    height: 3px;
    background: linear-gradient(95.15deg, #79E6EE 18.69%, #FFFC57 85.22%);
}

.range_circle {
    position: absolute;
    width: 8.63px;
    height: 8.63px;
    background: #000;
    border-radius: 100%;
}

.range_main_circle_left {
    position: absolute;
    top: 2px;
    right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    background: linear-gradient(68.04deg, #79E6EE 30.07%, #FFFC57 67.71%);
    border-radius: 100%;
}

.range_main_circle_right {
    position: absolute;
    top: 2px;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    background: linear-gradient(68.04deg, #79E6EE 30.07%, #FFFC57 67.71%);
    border-radius: 100%;
}

.distance_bar {
    width: 100%;
    height: 274px;
    padding: 20px;
    background: #0f0f0f;
}

.distance_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.distance_list {
    margin-top: 20px;
    width: 100%;
    height: 192px;
    /* background: #fff; */
    display: flex;
    flex-direction: column;
}

.distance_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #272727;
}

.distance_item p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #CCCCCC;
}

.distance_circle {
    width: 16px;
    height: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 100px;
}

[type="radio"] {
    vertical-align: middle;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 100px;
}

[type="radio"]:checked {
    border: 5px solid transparent;
    background-image: linear-gradient(#000, #000), linear-gradient(to right, #79E6EE, #FFFC57);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.congestion_bar {
    width: 100%;
    height: 122px;
    padding: 20px;
    background: #0f0f0f;
}

.congestion_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.congestion_select_box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.congestion_select_item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 40px;
    background: #272727;
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FF4368;
}

.congestion_select_item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 40px;
    background: #272727;
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #3BB98C;
}

.congestion_select_item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 40px;
    background: #272727;
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #3C96FF;
}

.save_bar {
    width: 100%;
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.save_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    background: linear-gradient(95.15deg, #79E6EE 18.69%, #FFFC57 85.22%);
}

.save_button p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.active{
    border: 1px solid transparent;
    background-image: linear-gradient(#272727, #272727), linear-gradient(to right, #79E6EE, #FFFC57);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: #fff;
    font-weight: 700;
}

.congestion_active{
    border: 1px solid transparent;
    background-image: linear-gradient(#272727, #272727), linear-gradient(to right, #79E6EE, #FFFC57);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-weight: 700;
}
